<a href="https://colab.research.google.com/github/anassimbeni/MBAUSP/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MBA USP - Data Wrangling

## Definições Básicas

Para a execução dos scripts das aulas será necessária a utilização de bibliotecas como dplyr e ggplot2 que estão contidas no pacote tidyverse.

*Obs, na utilização do google colab não é necessária realizar a instalação, somente a declaração, porém em softwares como o RStudio se faz necessária instalação através do comando:

install.packages("tidyverse")

In [1]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Realizaremos a leitura de arquivos no formato excel para importar os dados a serem trabalhados, portanto é necessário declarar a biblioteca readxl.

In [2]:
library(readxl)

### Carregamento de arquivos

Para realização das atividades algumas base de dados precisam ser carregadas, estão estão armazenadas no google drive e são localizadas pelo hash "id", se ocorrer erros substituir os arquivos.

**(1.2) Dataset Aula Data Wrangling.xls**

In [9]:
system("gdown --id 1VAevjCUexLb03jLj10vZsJDvhiue5fsm")

**(1.3) Dataset Aula Data Wrangling (Join).xls**

In [6]:
system("gdown --id 1dVoBogi3f6QbBHSylz_jqnCqf7r6016Y")

**(2.2) WHO COVID-19 Global Table.csv**

In [13]:
system("gdown --id 1eEGBKktlrOM11rrQlnXT0IkRCYcR1OYH")

**(2.3) WBD PIB per Capita.xls**

In [7]:
system("gdown --id 18aq9ivWWWGBYLUs5JS1yGuGgQGrwLF_z")

**(4.2) CVM Resultado Wrangling.xlsx**

In [14]:
system("gdown --id 1OSYjHFjW3yIUIMi1sJ-6GJyBuh4-FYSl")

**(4.3) CVM Dados Cadastrais.xlsx**

In [15]:
system("gdown --id 1czRw5avAz-G65eEU_z9LXDeY556R0DUl")

**(5.2) Champions League 2020-2021.csv**

In [16]:
system("gdown --id 1vkQSzP0Ab_eYOkIlHiMTf--4knUz8Qal")

**(6.2) Filmes Streaming.csv**

In [17]:
system("gdown --id 1F4AzGq7qyGGcp30hFcNxsMuWhEs8ixw4")

**(6.3) Séries Streaming.csv**

In [18]:
system("gdown --id 1mvlIzlMhEFAs-axYjLMmnuxPFgAFd6jK")

## Aula I

###Lendo arquivos

**read_excel** realiza a leitura de arquivos excel.

In [10]:
dataset_inicial <- read_excel("(1.2) Dataset Aula Data Wrangling.xls")

**reas.csv** realiza a leitura de arquivos em csv.

In [65]:
dataset_csv <- read.csv("(2.2) WHO COVID-19 Global Table.csv", #<-- Arquivo
                        header = TRUE, #<-- O CSV possui cabeçalho
                        sep = ",", #<-- Separador de informações do CSV
                        dec = ".")  #<-- Ponto de separação decimal 10.00

###Visualizando Dataset

**View** realiza a visualização do arquivo no formato de tabela para matrizes.

In [21]:
View(dataset_inicial)

   Estudante   Tempo para chegar à escola (minutos)
1  Gabriela    15
2  Dalila      20
3  Gustavo     20
4  Letícia     40
5  Luiz Ovídio 50
6  Leonor      25
7  Ana         10
8  Antônio     55
9  Júlia       35
10 Mariana     30
   Distância percorrida até a escola (quilômetros) Quantidade de semáforos
1   8                                              0
2   6                                              1
3  15                                              0
4  20                                              1
5  25                                              2
6  11                                              1
7   5                                              0
8  32                                              3
9  28                                              1
10 20                                              1
   Período do dia Perfil ao volante
1  Manhã          calmo
2  Manhã          moderado
3  Manhã          moderado
4  Tarde          agressivo
5  Tarde          agressivo
6  Manhã          moderado
7  Manhã          calmo
8  Tarde          calmo
9  Manhã          moderado
10 Manhã          moderado

**head** mostra somente as primeiras linhas sendo estas limitadas ao parâmetro n.

In [22]:
head(dataset_inicial, n=5)

  Estudante   Tempo para chegar à escola (minutos)
1 Gabriela    15
2 Dalila      20
3 Gustavo     20
4 Letícia     40
5 Luiz Ovídio 50
  Distância percorrida até a escola (quilômetros) Quantidade de semáforos
1  8                                              0
2  6                                              1
3 15                                              0
4 20                                              1
5 25                                              2
  Período do dia Perfil ao volante
1 Manhã          calmo
2 Manhã          moderado
3 Manhã          moderado
4 Tarde          agressivo
5 Tarde          agressivo

**tail** semelhante ao head, porém mostra as ultimas linhas limitadas ao parâmetro n.

In [23]:
tail(dataset_inicial, n=5)

  Estudante Tempo para chegar à escola (minutos)
1 Leonor    25
2 Ana       10
3 Antônio   55
4 Júlia     35
5 Mariana   30
  Distância percorrida até a escola (quilômetros) Quantidade de semáforos
1 11                                              1
2  5                                              0
3 32                                              3
4 28                                              1
5 20                                              1
  Período do dia Perfil ao volante
1 Manhã          moderado
2 Manhã          calmo
3 Tarde          calmo
4 Manhã          moderado
5 Manhã          moderado

**str** mostra a estrutura do dataset.

In [24]:
str(dataset_inicial)

tibble [10 × 6] (S3: tbl_df/tbl/data.frame)
 $ Estudante                                      : chr [1:10] "Gabriela" "Dalila" "Gustavo" "Letícia" ...
 $ Tempo para chegar à escola (minutos)           : num [1:10] 15 20 20 40 50 25 10 55 35 30
 $ Distância percorrida até a escola (quilômetros): num [1:10] 8 6 15 20 25 11 5 32 28 20
 $ Quantidade de semáforos                        : num [1:10] 0 1 0 1 2 1 0 3 1 1
 $ Período do dia                                 : chr [1:10] "Manhã" "Manhã" "Manhã" "Tarde" ...
 $ Perfil ao volante                              : chr [1:10] "calmo" "moderado" "moderado" "agressivo" ...

**glimpse** semelhante ao str porém a visualização é mais organizada.

In [25]:
glimpse(dataset_inicial)

Rows: 10
Columns: 6
$ Estudante                                         <chr> "Gabriela", "Dalila"…
$ `Tempo para chegar à escola (minutos)`            <dbl> 15, 20, 20, 40, 50, …
$ `Distância percorrida até a escola (quilômetros)` <dbl> 8, 6, 15, 20, 25, 11…
$ `Quantidade de semáforos`                         <dbl> 0, 1, 0, 1, 2, 1, 0,…
$ `Período do dia`                                  <chr> "Manhã", "Manhã", "M…
$ `Perfil ao volante`                               <chr> "calmo", "moderado",…

**print** apresenta o dateset no console, porém é resumido se conter muitos dados.

In [26]:
print(dataset_inicial)

# A tibble: 10 × 6
   Estudante `Tempo para che… `Distância perc… `Quantidade de … `Período do dia`
   <chr>                <dbl>            <dbl>            <dbl> <chr>
 1 Gabriela                15                8                0 Manhã
 2 Dalila                  20                6                1 Manhã
 3 Gustavo                 20               15                0 Manhã
 4 Letícia                 40               20                1 Tarde
 5 Luiz Oví…               50               25                2 Tarde
 6 Leonor                  25               11                1 Manhã
 7 Ana                     10                5                0 Manhã
 8 Antônio                 55               32                3 Tarde
 9 Júlia                   35               28                1 Manhã
10 Mariana                 30               20                1 Manhã
# … with 1 more variable: Perfil ao volante <chr>

**dim** informa a dimenção do dataset (linhas, colunas).

In [27]:
dim(dataset_inicial)

[1] 10  6

**names** informa o títulos das colunas (chamadas de variáveis em um dataset).

In [28]:
names(dataset_inicial)

[1] "Estudante"
[2] "Tempo para chegar à escola (minutos)"
[3] "Distância percorrida até a escola (quilômetros)"
[4] "Quantidade de semáforos"
[5] "Período do dia"
[6] "Perfil ao volante"

**$** Para especificar uma variável do dataset o utilizamos como separador.

In [29]:
dataset_inicial$Estudante

 [1] "Gabriela"    "Dalila"      "Gustavo"     "Letícia"     "Luiz Ovídio"
 [6] "Leonor"      "Ana"         "Antônio"     "Júlia"       "Mariana"

**c** é utilizado para declarar um vetor.

In [33]:
vetor <- c("a", "b", "c")
vetor

[1] "a" "b" "c"

###Alterando Variáveis

**atribuição de vetor + names** ao atribuir um vetor de strings a um vetor names do dataset, as variaveis serão renomeadas.

In [42]:
novos_nomes <- c("observacoes",
                 "tempo",
                 "distancia",
                 "semaforos",
                 "periodo",
                 "perfil")

base_renomeada <- dataset_inicial

names(base_renomeada) <- novos_nomes

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

**rename** é utilizada para renomear as variáveis, sendo que nos parâmetros a esquerda da igualdade temos os novos nomes e a direita os antigos ou a posição no dataset.

In [41]:
base_renomeada <- dataset_inicial

base_renomeada <- rename(dataset_inicial, 
                    observacoes = "Estudante",
                    tempo = "Tempo para chegar à escola (minutos)",
                    distancia = "Distância percorrida até a escola (quilômetros)",
                    semaforos = "Quantidade de semáforos",
                    periodo = "Período do dia",
                    perfil = "Perfil ao volante")

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

In [43]:
base_renomeada <- dataset_inicial

base_renomeada <- rename(dataset_inicial, 
                    observacoes = 1,
                    tempo = 2,
                    distancia = 3,
                    semaforos = 4,
                    periodo = 5,
                    perfil = 6)

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

**%>%** Pipe é utilizado de diversas formas, como atribuição de variáveis de forma dinâmica e concatenar funções.

*Obs: no caso da utilização do pipe o primeiro parâmetro da função é retirado para fora da mesma.

In [57]:
base_renomeada <- dataset_inicial

base_renomeada <- base_renomeada %>% rename(
                    observacoes = 1,
                    tempo = 2,
                    distancia = 3,
                    semaforos = 4,
                    periodo = 5,
                    perfil = 6)

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

**mutate** possui duas funcionalidades principais:

1.   Incluir variáveis no dataset;
2.   Transformar o conteudo das variáveis;

In [61]:
nova_variavel = c(1,2,3,4,5,6,7,8,9,10)

base_renomeada_adicionada <- mutate(base_renomeada,
                                    nova_variavel, #<--Adicionando variável
                                    tempo_double = tempo*2) #<--Adicionando coluna à partir da modificação de outra coluna

head(base_renomeada_adicionada)

  observacoes tempo distancia semaforos periodo perfil    nova_variavel
1 Gabriela    15     8        0         Manhã   calmo     1
2 Dalila      20     6        1         Manhã   moderado  2
3 Gustavo     20    15        0         Manhã   moderado  3
4 Letícia     40    20        1         Tarde   agressivo 4
5 Luiz Ovídio 50    25        2         Tarde   agressivo 5
6 Leonor      25    11        1         Manhã   moderado  6
  tempo_double
1  30
2  40
3  40
4  80
5 100
6  50

**rename** e **mutate** combinados por **pipe**

In [63]:
nova_variavel = c(1,2,3,4,5,6,7,8,9,10)

base_renomeada_modificada <- base_renomeada %>% rename(obs = observacoes,
                     temp = tempo,
                     dist = distancia,
                     sem = semaforos,
                     per = periodo,
                     perf = perfil) %>% 
              mutate(nova_variavel,
                     temp_double = temp*2) 

head(base_renomeada_modificada)

  obs         temp dist sem per   perf      nova_variavel temp_double
1 Gabriela    15    8   0   Manhã calmo     1              30
2 Dalila      20    6   1   Manhã moderado  2              40
3 Gustavo     20   15   0   Manhã moderado  3              40
4 Letícia     40   20   1   Tarde agressivo 4              80
5 Luiz Ovídio 50   25   2   Tarde agressivo 5             100
6 Leonor      25   11   1   Manhã moderado  6              50

**[ ]** seleção para remover variáveis do dataset

In [83]:
base_renomeada_excluida <- base_renomeada[,-c(1)] #<-- Exclui a variável pela ordem
head(base_renomeada_excluida, n=3)

  tempo distancia semaforos periodo perfil
1 15     8        0         Manhã   calmo
2 20     6        1         Manhã   moderado
3 20    15        0         Manhã   moderado

In [130]:
base_renomeada_extraida <- base_renomeada[3:7, 1:2] #<-- Extraida linha 3 a 7 das colunas 1 a 2
base_renomeada_extraida

  observacoes tempo
1 Gustavo     20
2 Letícia     40
3 Luiz Ovídio 50
4 Leonor      25
5 Ana         10

###Visualização Dataset Detalhada

In [69]:
base_covid <- dataset_csv %>% rename(nome = 1,
                                    regiao = 2,
                                    casos_total = 3,
                                    casos_relativo = 4,
                                    casos_semana = 5,
                                    casos_semana_relativo = 6,
                                    casos_dia = 7,
                                    mortes_total = 8,
                                    mortes_relativo = 9,
                                    mortes_semana = 10,
                                    mortes_semana_relativo = 11,
                                    mortes_dia = 12,
                                    tipo_transmissao = 13)

**table** Define uma vizualização e contabilização em formato de tabela, podendo realizar alterções através de parâmetros da função.

In [70]:
table(base_covid$tipo_transmissao)

                            Clusters of cases Community transmission
                     1                     39                    151
              No cases         Not applicable                Pending
                    23                      1                      3
        Sporadic cases
                    20

**unique** Informa os casos únicos da variável selecionada, sem a contagem como vista na função table.

In [71]:
unique(base_covid$tipo_transmissao)

[1] ""                       "Community transmission" "Clusters of cases"
[4] "Sporadic cases"         "Pending"                "No cases"
[7] "Not applicable"

**recode** com o mutate é utilizado para modificações das variáveis podendo trocar detalhes dos valores.

In [125]:
base_renomeada_recode <- mutate(base_renomeada, perfil_en = recode(base_renomeada$perfil,
                                "calmo" = "easy",
                                "moderado" = "medium",
                                "agressivo" = "hard"))
head(base_renomeada_recode, n=5)

  observacoes tempo distancia semaforos periodo perfil    perfil_en
1 Gabriela    15     8        0         Manhã   calmo     easy
2 Dalila      20     6        1         Manhã   moderado  medium
3 Gustavo     20    15        0         Manhã   moderado  medium
4 Letícia     40    20        1         Tarde   agressivo hard
5 Luiz Ovídio 50    25        2         Tarde   agressivo hard

**transmute** inclui variáveis no dataset, excluindo as existentes, é necessário informar quais variáveis devem permanecer

In [127]:
base_transmute <- transmute(base_renomeada, observacoes, tempo)

head(base_transmute, n=3)

  observacoes tempo
1 Gabriela    15
2 Dalila      20
3 Gustavo     20

**select** seleciona parte do Dataset.

In [131]:
base_select <- select(base_renomeada, observacoes, tempo)
head(base_select, n=3)

  observacoes tempo
1 Gabriela    15
2 Dalila      20
3 Gustavo     20

In [133]:
base_select <- select(base_renomeada,  everything(), -perfil, -tempo)
head(base_select, n=3)

  observacoes distancia semaforos periodo
1 Gabriela     8        0         Manhã
2 Dalila       6        1         Manhã
3 Gustavo     15        0         Manhã

In [134]:
base_select <- select(base_renomeada, observacoes:distancia)
head(base_select, n=3)

  observacoes tempo distancia
1 Gabriela    15     8
2 Dalila      20     6
3 Gustavo     20    15

In [135]:
base_select <- select(base_renomeada, starts_with("p"))
head(base_select, n=3)

  periodo perfil
1 Manhã   calmo
2 Manhã   moderado
3 Manhã   moderado

**relocate** reordena as variáveis.

In [140]:
base_relocate <- relocate(base_renomeada, perfil, .after = observacoes)
head(base_relocate, n=3)

  observacoes perfil   tempo distancia semaforos periodo
1 Gabriela    calmo    15     8        0         Manhã
2 Dalila      moderado 20     6        1         Manhã
3 Gustavo     moderado 20    15        0         Manhã

In [142]:
base_relocate <- relocate(base_renomeada, perfil, .before = observacoes)
head(base_relocate, n=3)

  perfil   observacoes tempo distancia semaforos periodo
1 calmo    Gabriela    15     8        0         Manhã
2 moderado Dalila      20     6        1         Manhã
3 moderado Gustavo     20    15        0         Manhã

**pull** seleciona parte do Dataset gerando um vetor.

In [146]:
base_pull <- pull(base_renomeada, var=1)
head(base_pull, n=3) #<-- variável observacoes

[1] "Gabriela" "Dalila"   "Gustavo"

###Operadores de Manipulação

**cut** divide o dataset em intervalos.
cut(x, breaks, labels = NULL, include.lowest = FALSE, right = TRUE)


x =  o vetor numérico que deve ser transformado;

breaks = numero de intervalos;

labels = rótulos lógicos anexados ao resultado;

In [102]:
to_cut <- c(0,1,2,3,4)
cut(to_cut, c(-Inf, 1,3, Inf), c("Group1", "Group2", "Group3")) #<-- -infinito até 1 = Group1, >1 até 3 = Group2, >3 até +Infinito = Group3

[1] Group1 Group1 Group2 Group2 Group3
Levels: Group1 Group2 Group3

**quantile** obtem os divisores percentis de um dataset.

In [119]:
to_quantile <- c(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
quantile(to_quantile,
          type = 5,
          probs = c(0.25, 0.50, 0.75)) #<-- divisores (0-25%) 1º (25%-50%), 2º (50%-75%), 3º (75%-100%)

  25%   50%   75%
 4.75 10.00 15.25

**median** realiza a média.

In [128]:
to_median <- c(0,110)
median(to_median)

[1] 55

case_when

In [155]:
to_case_when <- c(1,2,3,4,5,6)
case_when(to_case_when < 3 ~ "menor",to_case_when == 3 ~ "igual", to_case_when > 3 ~ "maior") #<-- comparação se o numero é menor, igual ou maior a 3

[1] "menor" "menor" "igual" "maior" "maior" "maior"

## Aula II