<a href="https://colab.research.google.com/github/anassimbeni/MBAUSP/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MBA USP - Data Wrangling

## Definições Básicas

Para a execução dos scripts das aulas será necessária a utilização de bibliotecas como dplyr e ggplot2 que estão contidas no pacote tidyverse.

*Obs, na utilização do google colab não é necessária realizar a instalação, somente a declaração, porém em softwares como o RStudio se faz necessária instalação através do comando:

install.packages("tidyverse")

In [ ]:
library(tidyverse)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.4     ✔ stringr 1.4.0
✔ readr   2.1.0     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Realizaremos a leitura de arquivos no formato excel para importar os dados a serem trabalhados, portanto é necessário declarar a biblioteca readxl.

In [ ]:
library(readxl)

### Carregamento de arquivos

Para realização das atividades algumas base de dados precisam ser carregadas, estão estão armazenadas no google drive e são localizadas pelo hash "id", se ocorrer erros substituir os arquivos.

**(1.2) Dataset Aula Data Wrangling.xls**

In [ ]:
system("gdown --id 1VAevjCUexLb03jLj10vZsJDvhiue5fsm")

**(1.3) Dataset Aula Data Wrangling (Join).xls**

In [ ]:
system("gdown --id 1dVoBogi3f6QbBHSylz_jqnCqf7r6016Y")

**(2.2) WHO COVID-19 Global Table.csv**

In [ ]:
system("gdown --id 1eEGBKktlrOM11rrQlnXT0IkRCYcR1OYH")

**(2.3) WBD PIB per Capita.xls**

In [ ]:
system("gdown --id 18aq9ivWWWGBYLUs5JS1yGuGgQGrwLF_z")

**(4.2) CVM Resultado Wrangling.xlsx**

In [ ]:
system("gdown --id 1OSYjHFjW3yIUIMi1sJ-6GJyBuh4-FYSl")

**(4.3) CVM Dados Cadastrais.xlsx**

In [ ]:
system("gdown --id 1czRw5avAz-G65eEU_z9LXDeY556R0DUl")

**(5.2) Champions League 2020-2021.csv**

In [ ]:
system("gdown --id 1vkQSzP0Ab_eYOkIlHiMTf--4knUz8Qal")

**(6.2) Filmes Streaming.csv**

In [ ]:
system("gdown --id 1F4AzGq7qyGGcp30hFcNxsMuWhEs8ixw4")

**(6.3) Séries Streaming.csv**

In [ ]:
system("gdown --id 1mvlIzlMhEFAs-axYjLMmnuxPFgAFd6jK")

## Aula I

###Lendo arquivos

**read_excel** realiza a leitura de arquivos excel.

In [ ]:
dataset_inicial <- read_excel("(1.2) Dataset Aula Data Wrangling.xls")

**reas.csv** realiza a leitura de arquivos em csv.

In [ ]:
dataset_csv <- read.csv("(2.2) WHO COVID-19 Global Table.csv", #<-- Arquivo
                        header = TRUE, #<-- O CSV possui cabeçalho
                        sep = ",", #<-- Separador de informações do CSV
                        dec = ".")  #<-- Ponto de separação decimal 10.00

###Visualizando Dataset

**View** realiza a visualização do arquivo no formato de tabela para matrizes.

In [ ]:
View(dataset_inicial)

   Estudante   Tempo para chegar à escola (minutos)
1  Gabriela    15
2  Dalila      20
3  Gustavo     20
4  Letícia     40
5  Luiz Ovídio 50
6  Leonor      25
7  Ana         10
8  Antônio     55
9  Júlia       35
10 Mariana     30
   Distância percorrida até a escola (quilômetros) Quantidade de semáforos
1   8                                              0
2   6                                              1
3  15                                              0
4  20                                              1
5  25                                              2
6  11                                              1
7   5                                              0
8  32                                              3
9  28                                              1
10 20                                              1
   Período do dia Perfil ao volante
1  Manhã          calmo
2  Manhã          moderado
3  Manhã          moderado
4  Tarde          agressivo
5  Tarde          agressivo
6  Manhã          moderado
7  Manhã          calmo
8  Tarde          calmo
9  Manhã          moderado
10 Manhã          moderado

**head** mostra somente as primeiras linhas sendo estas limitadas ao parâmetro n.

In [ ]:
head(dataset_inicial, n=5)

  Estudante   Tempo para chegar à escola (minutos)
1 Gabriela    15
2 Dalila      20
3 Gustavo     20
4 Letícia     40
5 Luiz Ovídio 50
  Distância percorrida até a escola (quilômetros) Quantidade de semáforos
1  8                                              0
2  6                                              1
3 15                                              0
4 20                                              1
5 25                                              2
  Período do dia Perfil ao volante
1 Manhã          calmo
2 Manhã          moderado
3 Manhã          moderado
4 Tarde          agressivo
5 Tarde          agressivo

**tail** semelhante ao head, porém mostra as ultimas linhas limitadas ao parâmetro n.

In [ ]:
tail(dataset_inicial, n=5)

  Estudante Tempo para chegar à escola (minutos)
1 Leonor    25
2 Ana       10
3 Antônio   55
4 Júlia     35
5 Mariana   30
  Distância percorrida até a escola (quilômetros) Quantidade de semáforos
1 11                                              1
2  5                                              0
3 32                                              3
4 28                                              1
5 20                                              1
  Período do dia Perfil ao volante
1 Manhã          moderado
2 Manhã          calmo
3 Tarde          calmo
4 Manhã          moderado
5 Manhã          moderado

**str** mostra a estrutura do dataset.

In [ ]:
str(dataset_inicial)

tibble [10 × 6] (S3: tbl_df/tbl/data.frame)
 $ Estudante                                      : chr [1:10] "Gabriela" "Dalila" "Gustavo" "Letícia" ...
 $ Tempo para chegar à escola (minutos)           : num [1:10] 15 20 20 40 50 25 10 55 35 30
 $ Distância percorrida até a escola (quilômetros): num [1:10] 8 6 15 20 25 11 5 32 28 20
 $ Quantidade de semáforos                        : num [1:10] 0 1 0 1 2 1 0 3 1 1
 $ Período do dia                                 : chr [1:10] "Manhã" "Manhã" "Manhã" "Tarde" ...
 $ Perfil ao volante                              : chr [1:10] "calmo" "moderado" "moderado" "agressivo" ...

**glimpse** semelhante ao str porém a visualização é mais organizada.

In [ ]:
glimpse(dataset_inicial)

Rows: 10
Columns: 6
$ Estudante                                         <chr> "Gabriela", "Dalila"…
$ `Tempo para chegar à escola (minutos)`            <dbl> 15, 20, 20, 40, 50, …
$ `Distância percorrida até a escola (quilômetros)` <dbl> 8, 6, 15, 20, 25, 11…
$ `Quantidade de semáforos`                         <dbl> 0, 1, 0, 1, 2, 1, 0,…
$ `Período do dia`                                  <chr> "Manhã", "Manhã", "M…
$ `Perfil ao volante`                               <chr> "calmo", "moderado",…

**print** apresenta o dateset no console, porém é resumido se conter muitos dados.

In [ ]:
print(dataset_inicial)

# A tibble: 10 × 6
   Estudante `Tempo para che… `Distância perc… `Quantidade de … `Período do dia`
   <chr>                <dbl>            <dbl>            <dbl> <chr>
 1 Gabriela                15                8                0 Manhã
 2 Dalila                  20                6                1 Manhã
 3 Gustavo                 20               15                0 Manhã
 4 Letícia                 40               20                1 Tarde
 5 Luiz Oví…               50               25                2 Tarde
 6 Leonor                  25               11                1 Manhã
 7 Ana                     10                5                0 Manhã
 8 Antônio                 55               32                3 Tarde
 9 Júlia                   35               28                1 Manhã
10 Mariana                 30               20                1 Manhã
# … with 1 more variable: Perfil ao volante <chr>

**dim** informa a dimenção do dataset (linhas, colunas).

In [ ]:
dim(dataset_inicial)

[1] 10  6

**names** informa o títulos das colunas (chamadas de variáveis em um dataset).

In [ ]:
names(dataset_inicial)

[1] "Estudante"
[2] "Tempo para chegar à escola (minutos)"
[3] "Distância percorrida até a escola (quilômetros)"
[4] "Quantidade de semáforos"
[5] "Período do dia"
[6] "Perfil ao volante"

**$** Para especificar uma variável do dataset o utilizamos como separador.

In [ ]:
dataset_inicial$Estudante

 [1] "Gabriela"    "Dalila"      "Gustavo"     "Letícia"     "Luiz Ovídio"
 [6] "Leonor"      "Ana"         "Antônio"     "Júlia"       "Mariana"

**c** é utilizado para declarar um vetor.

In [ ]:
vetor <- c("a", "b", "c")
vetor

[1] "a" "b" "c"

###Alterando Variáveis

**atribuição de vetor + names** ao atribuir um vetor de strings a um vetor names do dataset, as variaveis serão renomeadas.

In [ ]:
novos_nomes <- c("observacoes",
                 "tempo",
                 "distancia",
                 "semaforos",
                 "periodo",
                 "perfil")

base_renomeada <- dataset_inicial

names(base_renomeada) <- novos_nomes

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

**rename** é utilizada para renomear as variáveis, sendo que nos parâmetros a esquerda da igualdade temos os novos nomes e a direita os antigos ou a posição no dataset.

In [ ]:
base_renomeada <- dataset_inicial

base_renomeada <- rename(dataset_inicial, 
                    observacoes = "Estudante",
                    tempo = "Tempo para chegar à escola (minutos)",
                    distancia = "Distância percorrida até a escola (quilômetros)",
                    semaforos = "Quantidade de semáforos",
                    periodo = "Período do dia",
                    perfil = "Perfil ao volante")

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

In [ ]:
base_renomeada <- dataset_inicial

base_renomeada <- rename(dataset_inicial, 
                    observacoes = 1,
                    tempo = 2,
                    distancia = 3,
                    semaforos = 4,
                    periodo = 5,
                    perfil = 6)

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

**%>%** Pipe é utilizado de diversas formas, como atribuição de variáveis de forma dinâmica e concatenar funções.

*Obs: no caso da utilização do pipe o primeiro parâmetro da função é retirado para fora da mesma.

In [ ]:
base_renomeada <- dataset_inicial

base_renomeada <- base_renomeada %>% rename(
                    observacoes = 1,
                    tempo = 2,
                    distancia = 3,
                    semaforos = 4,
                    periodo = 5,
                    perfil = 6)

head(base_renomeada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

**mutate** possui duas funcionalidades principais:

1.   Incluir variáveis no dataset;
2.   Transformar o conteudo das variáveis;

In [ ]:
nova_variavel = c(1,2,3,4,5,6,7,8,9,10)

base_renomeada_adicionada <- mutate(base_renomeada,
                                    nova_variavel, #<--Adicionando variável
                                    tempo_double = tempo*2) #<--Adicionando coluna à partir da modificação de outra coluna

head(base_renomeada_adicionada)

  observacoes tempo distancia semaforos periodo perfil    nova_variavel
1 Gabriela    15     8        0         Manhã   calmo     1
2 Dalila      20     6        1         Manhã   moderado  2
3 Gustavo     20    15        0         Manhã   moderado  3
4 Letícia     40    20        1         Tarde   agressivo 4
5 Luiz Ovídio 50    25        2         Tarde   agressivo 5
6 Leonor      25    11        1         Manhã   moderado  6
  tempo_double
1  30
2  40
3  40
4  80
5 100
6  50

**rename** e **mutate** combinados por **pipe**

In [ ]:
nova_variavel = c(1,2,3,4,5,6,7,8,9,10)

base_renomeada_modificada <- base_renomeada %>% rename(obs = observacoes,
                     temp = tempo,
                     dist = distancia,
                     sem = semaforos,
                     per = periodo,
                     perf = perfil) %>% 
              mutate(nova_variavel,
                     temp_double = temp*2) 

head(base_renomeada_modificada)

  obs         temp dist sem per   perf      nova_variavel temp_double
1 Gabriela    15    8   0   Manhã calmo     1              30
2 Dalila      20    6   1   Manhã moderado  2              40
3 Gustavo     20   15   0   Manhã moderado  3              40
4 Letícia     40   20   1   Tarde agressivo 4              80
5 Luiz Ovídio 50   25   2   Tarde agressivo 5             100
6 Leonor      25   11   1   Manhã moderado  6              50

**[ ]** seleção para remover variáveis do dataset

In [ ]:
base_renomeada_excluida <- base_renomeada[,-c(1)] #<-- Exclui a variável pela ordem
head(base_renomeada_excluida, n=3)

  tempo distancia semaforos periodo perfil
1 15     8        0         Manhã   calmo
2 20     6        1         Manhã   moderado
3 20    15        0         Manhã   moderado

In [ ]:
base_renomeada_extraida <- base_renomeada[3:7, 1:2] #<-- Extraida linha 3 a 7 das colunas 1 a 2
base_renomeada_extraida

  observacoes tempo
1 Gustavo     20
2 Letícia     40
3 Luiz Ovídio 50
4 Leonor      25
5 Ana         10

###Visualização Dataset Detalhada

In [ ]:
base_covid <- dataset_csv %>% rename(nome = 1,
                                    regiao = 2,
                                    casos_total = 3,
                                    casos_relativo = 4,
                                    casos_semana = 5,
                                    casos_semana_relativo = 6,
                                    casos_dia = 7,
                                    mortes_total = 8,
                                    mortes_relativo = 9,
                                    mortes_semana = 10,
                                    mortes_semana_relativo = 11,
                                    mortes_dia = 12,
                                    tipo_transmissao = 13)

**table** Define uma vizualização e contabilização em formato de tabela, podendo realizar alterções através de parâmetros da função.

In [ ]:
table(base_covid$tipo_transmissao)

                            Clusters of cases Community transmission
                     1                     39                    151
              No cases         Not applicable                Pending
                    23                      1                      3
        Sporadic cases
                    20

**unique** Informa os casos únicos da variável selecionada, sem a contagem como vista na função table.

In [ ]:
unique(base_covid$tipo_transmissao)

[1] ""                       "Community transmission" "Clusters of cases"
[4] "Sporadic cases"         "Pending"                "No cases"
[7] "Not applicable"

**recode** com o mutate é utilizado para modificações das variáveis podendo trocar detalhes dos valores.

In [ ]:
base_renomeada_recode <- mutate(base_renomeada, perfil_en = recode(base_renomeada$perfil,
                                "calmo" = "easy",
                                "moderado" = "medium",
                                "agressivo" = "hard"))
head(base_renomeada_recode, n=5)

  observacoes tempo distancia semaforos periodo perfil    perfil_en
1 Gabriela    15     8        0         Manhã   calmo     easy
2 Dalila      20     6        1         Manhã   moderado  medium
3 Gustavo     20    15        0         Manhã   moderado  medium
4 Letícia     40    20        1         Tarde   agressivo hard
5 Luiz Ovídio 50    25        2         Tarde   agressivo hard

**transmute** inclui variáveis no dataset, excluindo as existentes, é necessário informar quais variáveis devem permanecer

In [ ]:
base_transmute <- transmute(base_renomeada, observacoes, tempo)

head(base_transmute, n=3)

  observacoes tempo
1 Gabriela    15
2 Dalila      20
3 Gustavo     20

**select** seleciona parte do Dataset.

In [ ]:
base_select <- select(base_renomeada, observacoes, tempo)
head(base_select, n=3)

  observacoes tempo
1 Gabriela    15
2 Dalila      20
3 Gustavo     20

In [ ]:
base_select <- select(base_renomeada,  everything(), -perfil, -tempo)
head(base_select, n=3)

  observacoes distancia semaforos periodo
1 Gabriela     8        0         Manhã
2 Dalila       6        1         Manhã
3 Gustavo     15        0         Manhã

In [ ]:
base_select <- select(base_renomeada, observacoes:distancia)
head(base_select, n=3)

  observacoes tempo distancia
1 Gabriela    15     8
2 Dalila      20     6
3 Gustavo     20    15

In [ ]:
base_select <- select(base_renomeada, starts_with("p"))
head(base_select, n=3)

  periodo perfil
1 Manhã   calmo
2 Manhã   moderado
3 Manhã   moderado

**relocate** reordena as variáveis.

In [ ]:
base_relocate <- relocate(base_renomeada, perfil, .after = observacoes)
head(base_relocate, n=3)

  observacoes perfil   tempo distancia semaforos periodo
1 Gabriela    calmo    15     8        0         Manhã
2 Dalila      moderado 20     6        1         Manhã
3 Gustavo     moderado 20    15        0         Manhã

In [ ]:
base_relocate <- relocate(base_renomeada, perfil, .before = observacoes)
head(base_relocate, n=3)

  perfil   observacoes tempo distancia semaforos periodo
1 calmo    Gabriela    15     8        0         Manhã
2 moderado Dalila      20     6        1         Manhã
3 moderado Gustavo     20    15        0         Manhã

**pull** seleciona parte do Dataset gerando um vetor.

In [ ]:
base_pull <- pull(base_renomeada, var=1)
head(base_pull, n=3) #<-- variável observacoes

[1] "Gabriela" "Dalila"   "Gustavo"

###Operadores de Manipulação

**cut** divide o dataset em intervalos.
cut(x, breaks, labels = NULL, include.lowest = FALSE, right = TRUE)


x =  o vetor numérico que deve ser transformado;

breaks = numero de intervalos;

labels = rótulos lógicos anexados ao resultado;

In [ ]:
to_cut <- c(0,1,2,3,4)
cut(to_cut, c(-Inf, 1,3, Inf), c("Group1", "Group2", "Group3")) #<-- -infinito até 1 = Group1, >1 até 3 = Group2, >3 até +Infinito = Group3

[1] Group1 Group1 Group2 Group2 Group3
Levels: Group1 Group2 Group3

**quantile** obtem os divisores percentis de um dataset.

In [ ]:
to_quantile <- c(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
quantile(to_quantile,
          type = 5,
          probs = c(0.25, 0.50, 0.75)) #<-- divisores (0-25%) 1º (25%-50%), 2º (50%-75%), 3º (75%-100%)

  25%   50%   75%
 4.75 10.00 15.25

**median** realiza a mediana.

In [ ]:
to_median <- c(0,110)
median(to_median)

[1] 55

case_when

In [ ]:
to_case_when <- c(1,2,3,4,5,6)
case_when(to_case_when < 3 ~ "menor",to_case_when == 3 ~ "igual", to_case_when > 3 ~ "maior") #<-- comparação se o numero é menor, igual ou maior a 3

[1] "menor" "menor" "igual" "maior" "maior" "maior"

## Aula II

###Estatísticas Descritivas

**summarise** gera estatísticas descritivas do dataset. Sendo a esquerda da igualdade o nome dado a descritiva e a direita o comando da descritiva.

In [ ]:
descritivas_summarise <- summarise(base_renomeada,
                                  observações = n(), # <--quantidade de linhas
                                  média=mean(tempo), # <--média
                                  mediana=median(tempo), # <--mediana
                                  desv_pad=sd(tempo), # <-- desvio padrão
                                  mínimo=min(tempo), # <-- mínimo
                                  máximo=max(tempo), # <-- máximo
                                  quartil_75=quantile(tempo,type=5, 0.75)) # <-- divisor para o quartil 75%

descritivas_summarise

  observações média mediana desv_pad mínimo máximo quartil_75
1 10          30    27.5    14.90712 10     55     40

Obs: podemos passar o parâmetro **na.rm = T** para remover valores NA do cálculo, ex: média=mean(tempo, na.rm = T)

### Agrupamentos

**group_by** realiza o agrupamentos (grupos) do dataset por critérios.

In [ ]:
base_agrupada <- group_by(base_renomeada, periodo)
head(base_agrupada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

*Obs: visualmente nada mudou, além da informação grouped_df, pois criar grupos não altera a base de dados, porém se realizarmos qualquer medida descritiva, esta será separada por grupos.

In [ ]:
descritivas_summarise_agrupada <- summarise(base_agrupada,
                                  observações = n(),
                                  média=mean(tempo),
                                  mediana=median(tempo),
                                  desv_pad=sd(tempo),
                                  mínimo=min(tempo),
                                  máximo=max(tempo),
                                  quartil_75=quantile(tempo,type=5, 0.75))

descritivas_summarise_agrupada

  periodo observações média    mediana desv_pad mínimo máximo quartil_75
1 Manhã   7           22.14286 20      8.591247 10     35     28.75
2 Tarde   3           48.33333 50      7.637626 40     55     53.75

**ungroup** + **droplevels** realizam o desagrupamento de um dataset.

In [ ]:
base_desagrupada <- ungroup(base_agrupada) # <-- desagrupa a base
base_desagrupada <- droplevels(base_desagrupada) # <-- remove os níveis de agrupamento não utilizados garantindo o retorno a forma 'original'
head(base_desagrupada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Gabriela    15     8        0         Manhã   calmo
2 Dalila      20     6        1         Manhã   moderado
3 Gustavo     20    15        0         Manhã   moderado

###Filtros

filtros podem ser realizados sem nenhuma função descritiva, utilizando o acesso a objeto [ ]. [linhas, colunas]

In [ ]:
base_filtrada <- base_renomeada[base_renomeada$periodo=='Tarde',]
head(base_filtrada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Letícia     40    20        1         Tarde   agressivo
2 Luiz Ovídio 50    25        2         Tarde   agressivo
3 Antônio     55    32        3         Tarde   calmo

**filter** realiza filtros no dataset à partir de critérios estabelecidos

In [ ]:
base_filtrada <- filter(base_renomeada, periodo == 'Tarde')
head(base_filtrada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Letícia     40    20        1         Tarde   agressivo
2 Luiz Ovídio 50    25        2         Tarde   agressivo
3 Antônio     55    32        3         Tarde   calmo

**slice** realiza a seleção de linhas usando posições, e possui variações:

*   slice
*   slice_head
*   slice_tail
*   slice_min
*   slice_max

In [ ]:
slice(base_renomeada, 2:3) # <-- linhas 2 e 3

  observacoes tempo distancia semaforos periodo perfil
1 Dalila      20     6        1         Manhã   moderado
2 Gustavo     20    15        0         Manhã   moderado

In [ ]:
slice_max(base_renomeada, order_by = distancia, prop = 0.20) # <-- 20% maiores distâncias

  observacoes tempo distancia semaforos periodo perfil
1 Antônio     55    32        3         Tarde   calmo
2 Júlia       35    28        1         Manhã   moderado

###Junção de Datasets

**bind_rows** une de forma simples os datasets, a ordem das variáveis precisa ser a mesma nos datasets.

In [ ]:
dataset1 <- data.frame(nome = c('Ana', 'Bruna'), idade = c(20,21))

dataset2 <- data.frame(nome = c('Claudia', 'Daniela'), idade = c(40,41))

bind_rows(dataset1, dataset2)

  nome    idade
1 Ana     20
2 Bruna   21
3 Claudia 40
4 Daniela 41

**bind_cols** une de forma simples os datasets, a order das observações precisa ser a mesma nos datasets.

In [ ]:
dataset1 <- data.frame(nome = c('Ana', 'Bruna', 'Claudia', 'Daniela'))

dataset2 <- data.frame(idade = c(20,21,40,41))

bind_cols(dataset1, dataset2)

  nome    idade
1 Ana     20
2 Bruna   21
3 Claudia 40
4 Daniela 41

**join** realiza a junção de datasets de diversas maneiras como intersecção, união, entre outros. Pussindo variações:

*   inner_join
*   left_join
*   right_join
*   full_join
*   semi_join
*   anti_join

![Group 1.png]()

In [ ]:
dataset_merge <- read_excel("(1.3) Dataset Aula Data Wrangling (Join).xls") # <-- Declarado o segundo dataset
base_renomeada_merge <- rename(dataset_merge, observacoes=Estudante) # <-- Renomeada variável para observacoes, para realização do join
base_merged <- left_join(base_renomeada, base_renomeada_merge, by = "observacoes")
 # ^-- junção dos datasets pela união na variável observacoes, trazendo dados de 'base_renomeada_merge' para 'base_renomeada' que esta a esquerda
head(base_merged, n=3)

  observacoes tempo distancia semaforos periodo perfil   Gênero
1 Gabriela    15     8        0         Manhã   calmo    Feminino
2 Dalila      20     6        1         Manhã   moderado Feminino
3 Gustavo     20    15        0         Manhã   moderado Masculino

###Operadores de Manipulação

**n()** informa o número de observações em um grupo

In [ ]:
summarise(base_renomeada,
          observações = n())

  observações
1 10

**mean** informa a média

In [ ]:
mean( c(0,110) )

[1] 55

**median** informa a mediana

In [ ]:
median( c(0,110) )

[1] 55

**sd** informa o desvio padrão

In [ ]:
sd( c(0,110) )

[1] 77.78175

**min** informa o valor mínimo

In [ ]:
min( c(0,110) )

[1] 0

**max** informa o valor máximo

In [ ]:
max ( c(0,110) )

[1] 110

**arrange** ordena de forma crescente ou decrecente o dataset

In [ ]:
base_ordenada <- arrange(base_renomeada, tempo)
head(base_ordenada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Ana         10    5         0         Manhã   calmo
2 Gabriela    15    8         0         Manhã   calmo
3 Dalila      20    6         1         Manhã   moderado

In [ ]:
base_ordenada <- arrange(base_renomeada, desc(tempo))
head(base_ordenada, n=3)

  observacoes tempo distancia semaforos periodo perfil
1 Antônio     55    32        3         Tarde   calmo
2 Luiz Ovídio 50    25        2         Tarde   agressivo
3 Letícia     40    20        1         Tarde   agressivo

**as.numeric** transforma variáveis string em tipo numérico.

In [ ]:
as.numeric('1')

[1] 1

**str_sub** realiza a seleção em uma string retirando a parte desejada.

In [ ]:
str_sub('MBAUSP', 4, 6)

[1] "USP"

**replace** realiza substituições das informações segundo critérios estabelecidos.

In [ ]:
dataset1 <- data.frame(nome = c('Ana', 'Brna'), idade = c(14,21))
mutate(dataset1, nome = replace(nome, nome=='Brna', 'Bruna'))

  nome  idade
1 Ana   14
2 Bruna 21

**data.frame** cria um dataframe.

In [ ]:
data.frame(nome = c('Ana', 'Bruna'), idade = c(20,21))

  nome  idade
1 Ana   20
2 Bruna 21

##Aula III

###Markdown

As **divisões** São realizadas utilizando hashtags ( # ) antes do trecho , aplicando níveis e subníveis.

O **negrito** é escrito utilizando dois asteriscos ( ** ) iniciando e finalizando o trecho.

**Exemplo**

O **itálico** é escrito utilizando um asterisco ( * ) iniciando e finalizando o trecho. 

*Exemplo*

O **taxado** é escrito utilizando dois tils (~) antes e depois do trecho. 

~~Exemplo~~

O **blockquote** ou recuo do texto é realizado pelo sinal de maior ( > ).

> Exemplo

A **lista ordenada** é realizada utilizando números com pontos no início do trecho.

1. Exemplo

A **lista não ordenada** é realizada utilizando hífen ( - ) no início do trecho.

- Exemplo

A **lista de tarefas** é realizada utilizando hífen ( - ) em conjunto com colchetes ( [ ] ).

- [x] Exemplo de tarefa realizada.
- [ ] Exemplo de tarefa não realizada.

O **trecho de código** é descrito entre crazes ( ` ).

`print()`

Uma **linha horizontal** utilizada para divisão de seções, é criada utilizando três hífens (-).

Exemplo:

---

Um **link** é criado utilizando colchetes ( [ ] ) para o título e parenteses ( ( ) ) para o endereço do link.

Exemplo: [Google](https://www.google.com.br/)

Uma **imagem** é adicionada utilizando colchetes ( [ ] ) para o título e parenteses ( ( ) ) para o endereço da imagem.

Exemplo: 

![Google Logo](https://www.google.com.br/logos/doodles/2021/seasonal-holidays-2021-6753651837109324-law.gif)

Uma **tabela** é adicionada utilizando pipes ( | ) para sepação de colunas e hífes ( - ) para separação dos cabeçalhos da tabela.

| Coluna 1 | Coluna 3 | Coluna 2 |
|:--- | :---: | ---: |
| texto1 | texto2 | texto3 |
| texto1 | texto2 | texto3 |

Um **bloco de código** é adicionado utilizando três crazes ( ` ) ao início e ao final do bloco, podendo ester ser estilizado adicionando a informação do tipo de código ao bloco.

```json
{
  "firstName": "John",
  "lastName": "Smith",
  "age": 25
}
```

As **espressões mátematicas** são adicionadas utilizando cifrões no início e ao término da expressão.

$ a + b^2 /c $

###Operadores de Manipulação

**na_if** realiza a substituição de valores correspondentes por *NA*.

In [ ]:
dataset1 <- data.frame(nome = c('Ana', ''), idade = c(14,21))
dataset1$nome <- na_if(dataset1$nome, '')

dataset1

  nome idade
1 Ana  14
2 NA   21

**coalesce** realiza a substituição de NA por um valor especifico.

In [ ]:
dataset1 <- data.frame(nome = c('Ana', NA), idade = c(14,21))
dataset1$nome <- coalesce(dataset1$nome, 'Desconhecido')

dataset1

  nome         idade
1 Ana          14
2 Desconhecido 21

**str_detect** realiza uma comparação de strings no padrão apresentado.

In [ ]:
vetor1 <- c('ana', 'maria', 'joão', 'antonio')
str_detect(vetor1, '^a') # <-- verifica nomes que começam com a letra 'a'

[1]  TRUE FALSE FALSE  TRUE

**pivot_wider** remodela um dataset para um formato mais amplo.

In [ ]:
base_wider <- pivot_wider(base_renomeada,id_cols = observacoes, names_from = periodo, values_from = perfil)

head(base_wider, n=5)

  observacoes Manhã    Tarde
1 Gabriela    calmo    NA
2 Dalila      moderado NA
3 Gustavo     moderado NA
4 Letícia     NA       agressivo
5 Luiz Ovídio NA       agressivo

**pivot_longer** remodela um dataset para um formato mais longo.

In [ ]:
base_longer <- pivot_longer(base_wider, !observacoes, names_to = 'periodo', values_to = 'perfil')

head(base_longer, n=5)

  observacoes periodo perfil
1 Gabriela    Manhã   calmo
2 Gabriela    Tarde   NA
3 Dalila      Manhã   moderado
4 Dalila      Tarde   NA
5 Gustavo     Manhã   moderado

##Aula IV

###Funções

**function** declara uma função personalizada, onde variaveis são declaradas entre parenteses e as operações entre chaves, utilizando o return para definir o retorno da função.

In [ ]:
exemplo_funcao <- function(variavel) {
  return (variavel * 2)
}
exemplo_funcao(2)

[1] 4

###Condições

**if** declara uma condição se, onde a condição verificada é declarada entre parenteses e caso a condição seja verdadeira, o conteudo declarado entre chaves é executado.

In [ ]:
if(1 < 100) {
  "Sim, 1 é menor que 100"
}

[1] "Sim, 1 é menor que 100"

**else** complementa o if, onde o else é executado caso a condição do if seja falsa.

In [ ]:
if(1000 < 100) {
  "Sim, 1000 é menor que 100"
} else {
  "Não, 1000 não é menor que 100"
}

[1] "Não, 1000 não é menor que 100"

**else if** é uma etapa intermediária entre o if e o else onde desejamos realizar múltiplos testes, onde neste caso a opção executada se torna a primeira condição verdadeira, ou else caso todas as anteriores sejem falsas.

In [ ]:
if(1000 < 1000) {
  "Sim, 1000 é menor que 1000"
} else if (1000 == 1000) { 
  "Sim, 1000 é igual a 1000"
} else {
  "Não, 1000 não é menor que 1000 e 1000 não é igual a 1000"
}

[1] "Sim, 1000 é igual a 1000"

###Iterações

**map** aplica funções a vetores.

map_lgl

map_int

map_dbl

map_chr

map2

pmap

invoke_map

###Operadores de Manipulação

**list** cria uma ou mais listas.

In [ ]:
list(1:5,6:10)

[[1]]
[1] 1 2 3 4 5

[[2]]
[1]  6  7  8  9 10

rnorm

rpois

summary